{% extends "testbuilder/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1>My Quizzes</h1>

{% if Quizzes %}
	<ul>
	{% for quiz in Quizzes %}
		{% if user.username == quiz.author.username %}
			<li>
				<a href="{% url 'deletequiz' parameter=quiz.passcode %}">
					Delete Quiz {{ quiz.title }} ({{ quiz.passcode }})
				</a>
			</li>
		{% endif %}
	{% endfor %}
	</ul>
{% else %}
	<p>There are no quizzes</p>
{% endif %}

<br>

<form method="POST" action="create/">
	{% csrf_token %}
	<p>Quiz Name:</p> <input id = "textfield" type="text" name="textfield">
	<br>
	<br>
	<p>Quiz Code:</p> <input id = "passfield" type="text" name="passfield">
	<br>
	<br>
	<button type="submit">Create Quiz</button>
</form>
{% endblock content %}